.photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid;
    margin: 5px;
}

.photo.M {
    border-color: #006699;
}

.photo.F {
    border-color: #996699;
}

.photo.U {
    border-color: #666666;
}