.my_family_album {
  text-align: center;
}

.family_album_header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.family_album_title {
  font-size: 1.5em;
}

section {
  font-size: large;
  min-height: 100px;
  border-bottom: 1px solid rgb(42, 165, 149);
  padding: 15px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
