.my_family_album {
  text-align: center;
}

.family_album_header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.family_album_title {
  font-size: 24px;
}

section {
  min-height: 100px;
  border-bottom: 1px solid rgb(42, 165, 149);
  padding: 15px 0;
}

.section_title {
  margin-bottom: 10px;
  font-size: 20px;
}

.family_members {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr) ) ;
}

.favorite_container {
  width: 200px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
