.my_family_album {
  text-align: center;
}

.family_album_header {
  text-align: left;
  background-color: #555555;
  height: 50px;
  padding: 20px;
  color: white;
}

.family_album_title {
  font-size: 24px;
}

section {
  min-height: 100px;
  padding: 15px 0;
}

.me_section {
  height: 200px;
}

.section_title {
  margin-bottom: 10px;
  font-size: 20px;
}

.family_members {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  justify-items: center;
  justify-content: center;
}

.favorite_container {
  width: 200px;
  margin: 0 auto;
}

.favorite_container .card_container {
  cursor: default;
}